<!DOCTYPE html>
<html>
  <head>

    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

  </head>

  <body>
    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/node_modules/es6-shim/es6-shim.min.js"></script>
    <script src="/js/node_modules/reflect-metadata/Reflect.js"></script>
    <script src="/js/node_modules/zone.js/dist/zone.js"></script>
    <script src="/js/node_modules/systemjs/dist/system-polyfills.js"></script>
    <script src="/js/node_modules/systemjs/dist/system.src.js"></script>
    <script src="/js/app/app.component.js"></script>
    <script src="/js/app/chat-detail.component.js"></script>
    <script src="/js/app/chat.js"></script>
    <script src="/js/app/chat.service.js"></script>
    <script src="/js/app/main.js"></script>
    <script src="/js/app/mock-chats.js"></script>
    <!--SCRIPTS END-->
    
    <script src="http://localhost:35729/livereload.js"></script>
    <script>
      System.config({
          packages: {
            app: {
              format: 'register',
              defaultExtension: 'js',
              main: 'main.js'
            },
            '@angular/core': {
              main: 'bundles/core.umd.js',
              defaultExtension: 'js'
            },
            '@angular/compiler': {
              main: 'bundles/compiler.umd.js',
              defaultExtension: 'js'
            },
            '@angular/common': {
              main: 'bundles/common.umd.js',
              defaultExtension: 'js'
            },
            '@angular/platform-browser-dynamic': {
              main: 'bundles/platform-browser-dynamic.umd.js',
              defaultExtension: 'js'
            },
            '@angular/platform-browser': {
              main: 'bundles/platform-browser.umd.js',
              defaultExtension: 'js'
            },
            rxjs: {
              main: 'bundles/Rx.umd.min.js',
              defaultExtension: 'js'
            }
          },
          map: {
            'app': 'js/app',
            '@angular': 'js/node_modules/@angular',
            'rxjs': 'js/node_modules/rxjs'
          }
      });
      System.import('main')
            .then(null, console.error.bind(console));
    </script>
  </body>
</html>
